* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}



/* nav section start */

nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 5px;
}

.letterG {
    color: #FF42A5;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
    font-weight: 600;
    align-items: center;
}

.Follow {
    background-color: #0000002c;
    padding: 10px 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Follow > .fa-brands {font-size: 1.8rem;
margin-left: 15px;}

/* nav section end */

/* hero section start */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50%;
}

.title {
    text-align: center;
    margin-left: 8%;
}

.title>h2 {
    margin-top: 80px;
}

.title h2 {
    font-size: 2rem;
    font-weight: 600;
}

.title h1 {
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.title>p {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-left: 10%;
}




.btn-primary {
    display: flex;
    gap: 30px;
    margin-left: 13%;
    margin-top: 20px;
}

button {
    background-color: #F948B2;
    padding: 15px 30px;
    border-radius: 48px;
    font-weight: 800;
    font-size: 1rem;
    color: #ffff;
    border: 0;
    margin-bottom: 80px;
}

.btn2>button {
    background-color: #4EC5F7;
}




.title {
    width: 50%;
}

.title image {
    width: 50%;
}


/* hero section end */


/* gamer section */

.gamer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0, auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  }
  
   .left-side {
    flex: 1;
    text-align: center;
  }
  
  .left-side img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
  }
  
  .right-side {
    flex: 1;
    padding: 20px;
text-align: right;
margin-right: 120px;}
  
  .right-side h1 {
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .right-side p {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 400;
     }
  
  .right-side button {
    padding: 10px 20px;
    background-color: #f948b2;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .right-side h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #534C64;
    margin-top: 10px;
  }
  
  

  
  /* gamer end */

/* online game section start */

.online-game {
    justify-content: center;
    width: 1080px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.on-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.p-images {
    text-align: center;
    position: relative;

}

.p-images img {
    width: 100%;
    height: auto;
    border: 5px solid transparent;
    border-radius: 20px;
    cursor: pointer;
}

.p-images:hover img {
    filter: brightness(40%);
    border: 5px solid #f948b2;
}

.play-icon {
    display: none;
    color: #fff;
}

.watch-now {
    display: none;
}

.p-images:hover .play-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 3rem;

}

.p-images:hover .watch-now {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: #f948b2;
    font-size: 1.2rem;
    font-weight: 600;
}

.p-images p {
    font-size: 0.8rem;
}

.on-title h1 {
    color: #0b0223;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    font-size: 2.4rem;
}

span {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.on-title p {
    font-size: 1rem;
    font-weight: 400;
    color: #534c64;
    margin: 15px auto;
}

/* online game section end */

/* play section start */

.play-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1080px;
    margin: 0 auto;
    gap: 200px;
    margin-top: 100px;
    margin-bottom: 120px;
}

.play-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    text-align: right;
}

.play-left h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: right;
}

.play-left p {
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    color: #534C64;
}

.play-right {
    display: flex;
    position: relative;
    width: 50%;
}

.pimagebig {
    position: relative;
}

.pimagesmall {
    margin-left: -50px;
    z-index: 1;
}

.pimagebig img {
    display: block;
    width: 400px;
    height: auto;
}

.pimagesmall img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 20%);
    width: 180px;
    height: auto;
}


/* play section end */

/* career section start */
.career {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 120px;
    background: linear-gradient(90deg, rgba(255, 66, 164, 0.692) 0%, rgba(255, 66, 230, 0.479) 100%);
  }
  
  .left-side-career {
    flex: 1;
    width: 50%;
  }

  .left-side-career img {
     width: 600px;
     height: auto;
  }
  
  .right-side-career {
    flex: 1;
    width: 50%;
    color: #fff;
    padding-left: 80px;
  }
  
  .right-side-career h1 {
  font-size: 2rem;
  font-weight: 800;
 margin-bottom: 20px;
 margin-top: 100px;
  }

  .right-side-career p {
    font-size: 12px;
    font-weight: 400;
     margin-bottom: 20px;
    }

  h1, p, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .h3-container li {
    margin-bottom: 20px;
      }
  .h3-container {
    display: flex;
    font-size: .8rem;
      }
  
  .ol-left {
    flex: 1;
    font-weight: 600;
  }
  
  .ol-right {
    flex: 1;
    font-weight: 600;
    text-align: right;
  }

  .see-btn {background-color: #fff;
color: #F948B2;}
  
/* career section end */
  

/* last section start */



.kosto {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
        padding: 80px;
}

.last {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.last-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    height: 30px;
    width: 180px;
    border-radius: 40px;
    border: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
    cursor: pointer;
}

.last-button h1 {
    font-size: 0.8rem;
    color: #000;
    transition: color 0.3s;
}

.last-button img {
    width: 30px;
    height: auto;
}

.last-button:hover {
    border-color: #f948b2;
}

.last-button:hover h1 {
    color: #f948b2;

}





/* last section end */

footer {
    background: #0B0223;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.foot-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.footer-sec {
    color: #fff;
}

.foot-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.foot-logo img {
    margin-right: 20px;
}

.foot-link li {
    margin-right: 80px;
    font-size: 1.3rem;
    font-weight: 600;
}

.social {
    margin-right: 40px;
    font-size: 2rem;
}

.foot-link,
.icon,
.foot-link2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.foot-link li,
.foot-link2 li {
    list-style: none;
}

.foot-link2 li {
    margin-right: 50px;
    font-size: 1rem;
    font-weight: 400;
}

.foot-logo h1 {
    color: #ffff;
}

/* last section end */













/* nav section start */

/* mobile screen */

@media screen and (max-width: 425px) {
    .container {
        flex-direction: column;

    }

    .item {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 5px;
    }

    .logo {
        flex-direction: column;
    }

    .logo img {
        margin-top: 20px;
    }

}

/* tablet screen */

@media screen and (min-width: 426px) and (max-width: 768px) {
    .item {
        font-size: .8rem;
    }

}

/* nav section end */

/* hero section start */

/* mobile screen */

@media screen and (max-width: 425px) {
    section {
        flex-direction: column;
        flex-direction: column-reverse;
        background-size: 100%;
        background-position: bottom;
    }

    .title {
        width: 100%;
        margin-left: 0px;
    }

    .title>h2 {
        margin-top: 50px;
    }

    .title>p {
        margin-left: 60px;
    }

}

/* tablet screen */

@media screen and (min-width: 426px) and (max-width: 768px) {
    .title h2 {
        font-size: 1rem;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title>p {
        font-size: 8px;
    }

    button {
        font-size: 10px;
        padding: 7px 15px;
    }

    .btn-primary {
        gap: 5px;
        margin-top: 5px;
    }

    .title img {
        margin-right: 50px;
    }
}

/* hero section end */

/* game section start */

  /* Mobile screen */
  @media screen and (max-width: 425px) {
    .gamer {
      flex-direction: column;
      align-items: stretch;
      margin: 0 auto;
    }
    .left-side img {
               max-width: 300px;}
  
    .left-side,
    .right-side {
      flex: 100%;
      text-align: center;
      padding: 0px;
      margin-right: 0px;
    }  

    .right-side h1 {
        font-size: 2rem;
      }

      .right-side p {
        font-size: 10px;
      }
      .right-side {
        margin-bottom: 20px;
      }
 }
  
  /* Tablet screen */
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .gamer {
      flex-direction: column;
      align-items: stretch;
    }
  
    .left-side,
    .right-side {
      flex: 100%;
      text-align: center;
    }
  
    .right-side {
      margin-top: 20px;
      margin-right: 0px;
      padding-right: 0px;
    }

   
  }

/* online game section start */

/* mobile screen */

@media screen and (max-width: 425px) {
    .on-image {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
        gap: 15px;
    }

    .online-game {
        width: auto;
    }

    .on-title h1 {
        font-size: 1.5rem;
    }

    .on-title p {
        font-size: .8rem;
    }

}

/* table screen */

@media screen and (min-width: 426px) and (max-width: 768px) {
    .on-image {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 90%;
    }

    .online-game {
        width: 90%;
        margin: 0 auto;
    }

    .on-title h1 {
        margin-top: 30px;
        font-size: 1.5rem;
    }

    .on-title p {
        font-size: 1rem;
    }
}

/* online game section end */


/* play section start */


/* mobile screen */

@media screen and (max-width: 425px) {
    .play-title {
        flex-direction: column;
        gap: 30px;
        width: auto;
        padding: 0px;
    }

    .play-left {
        width: 100%;
        align-items: center;
    }

    .play-right {
        width: 100%;
        margin-right: -170px;
    }

    .pimagebig {
        position: relative;
    }

    .pimagesmall {
        margin-left: -10px;

    }

    .pimagebig img {

        width: 300px;
    }

    .pimagesmall img {

        width: 120px;

    }
}


/* table screen */

@media screen and (min-width: 426px) and (max-width: 768px) {
    .play-title {
        flex-direction: column;
        gap: 30px;
        width: auto;
    }

    .play-left {
        width: 100%;
        align-items: center;
    }
}

/* play section end */

/* career section start */

/* mobile screen */

@media screen and (max-width: 425px) {
    .career {
      flex-direction: column;
            padding: 30px;
    }
  
    .left-side-career,
    .right-side-career {
      width: 100%;
    }
  
    .left-side-career img {
      width: 100%;
    }
  
    .right-side-career {
      padding-left: 0;
    }
  
    .right-side-career h1 {
      font-size: 1.5rem;
      margin-top: 0;
    }
  
    .see-btn {
      width: 100%;
      max-width: 200px;
    }
  }
  
  /* Tablet screen */
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .career {
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px;
      gap: 5px;
    }
  
    .right-side-career {
      max-width: 250px;
      width: 100%;
      padding-left: 0;
    }
  
    .right-side-career h1 {
      font-size: 1.8rem;
    }
  }

  /* career section end */

/* last section start */

@media screen and (max-width: 425px) {
    .last {
        justify-content: flex-start;
    }

    body {
        overflow-x: hidden;
    }

    .last-button {
        width: calc(33.33% - 20px);
        margin: 0 auto;
    }

    .last-button:last-child {
        margin-right: 0;
    }

    .last-button h1 {
        font-size: 0.5rem;
        margin-left: 5px;
    }
}

/* footer section start */

/* mobile screen */

@media screen and (max-width: 425px) {
    footer {
        padding: 40px;
    }

    .foot-link li {
        margin-right: 10px;
        font-size: .8rem;
        font-weight: 600;
    }

    .foot-link2 li,
    p {
        margin-right: 5px;
        font-size: .5rem;
        font-weight: 400;
    }

    .social {
        margin-right: 20px;
        font-size: 1.5rem;
    }
}

/* tablet screen */

@media screen and (min-width: 426px) and (max-width: 768px) {

    .foot-link2 li,
    p {
        margin-right: 5px;
        font-size: .8rem;
        font-weight: 400;
    }

    .foot-link li {
        margin-right: 10px;
        font-size: 1rem;
        font-weight: 600;
    }
}


/* footer section end */



  
